@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Proza+Libre:ital,wght@0,400;1,500;1,800&display=swap");

:root {
  --bg-color: #ffffff;
  --flat-shadow: -10px -10px 20px #ffffff, 10px 10px 20px #868686;
  --inset-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px #868686;
  --radius: 20px;
}

html,
body,
#root,
.container {
  height: 100%;
}

body {
  font-family: "Proza Libre", sans-serif !important;
  margin: 0;
  background-color: var(--bg-color);
  font-weight: 400;
  color: rgb(40, 40, 40);
}

.container {
  width: 100% !important;
  max-width: 100% !important;

  /* padding-top: 2% !important; */
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}

h1 {
  text-align: center;
  font-size: 4em;
  font-weight: 400;
}

h3 {
  font-size: 2.5em;
  font-weight: lighter;
  line-height: 1.1;
}

h4 {
  font-size: 1.2em !important;
  font-weight: 800 !important;
}

#main-form ul {
  list-style: disc !important;
}

.dashboard-side {
  /* background-color: pink; */
  height: 100%;
  padding: 4% 2%;
  background-color: rgb(248, 247, 240);
}

#user {
  text-align: center;
}

#user-image {
  display: block;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 10px;
}

#user-image img {
  vertical-align: middle;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
}

button.signout {
  border: none;
  padding: 0;
  color: rgb(40, 40, 40);
  font-size: 1em;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.greeting {
  display: block;
  font-size: 1.2em;
  font-weight: 600;
}

#sidebar-navigation ul {
  list-style: none;
}

.dashboard-main {
  height: 100%;
  padding-top: 5%;
}

#main-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2.5em; */
}

.main-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  box-sizing: border-box;
  width: 65%;
  height: 57%;
  padding: 2%;
  /* border-radius: var(--radius); */
  background: var(--bg-color);
  /* box-shadow: var(--flat-shadow); */
}

.form-group {
  width: 100%;
  margin-bottom: 100px;
}

.form-group label {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5em;
  font-weight: lighter;
  display: block;
  line-height: 1.1;
  width: 100%;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input[type="text"],
.input-group input[type="range"],
.input-group select,
.input-group textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0.3em 0 0 0;
  font-size: 1.5em;
  background: rgb(245, 245, 245);
  border: none !important;
  outline: none;
}

.input-group input[type="text"],
.input-group textarea {
  padding: 0.5em 1em 0.5em 0.7em;
}

.input-group input {
  /* height: 35vh; */
}

.input-group select {
  height: 50px;
}

.input-group textarea {
  height: 35vh;
  line-height: 1.35;
  resize: none;
  outline: none;
}

/*** Range input styles ***/
/* Reset and hide the default styles */
.input-group input[type="range"] {
  margin: 25px 0;
  background: transparent;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Styles for Thumb */
input[type="range"]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgb(175, 175, 175);
  cursor: pointer;
  transition: background 1s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -9px; /* You need to specify a margin in Chrome */
}

input[type="range"].green::-webkit-slider-thumb {
  background: rgb(10, 150, 80);
}

input[type="range"].yellow::-webkit-slider-thumb {
  background: rgb(220, 130, 40);
}

input[type="range"].red::-webkit-slider-thumb {
  background: rgb(180, 25, 20);
}

input[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgb(175, 175, 175);
  cursor: pointer;
  transition: background 1s ease;
}

input[type="range"].green::-moz-range-thumb {
  background: rgb(10, 150, 80);
}

input[type="range"].yellow::-moz-range-thumb {
  background: rgb(220, 130, 40);
}

input[type="range"].red::-moz-range-thumb {
  background: rgb(180, 25, 20);
}

input[type="range"]::-ms-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgb(200, 200, 200);
  cursor: pointer;
  transition: background 1s ease;
}

input[type="range"].green::-ms-thumb {
  background: rgb(10, 150, 80);
}

input[type="range"].yellow::-ms-thumb {
  background: rgb(220, 130, 40);
}

input[type="range"].red::-ms-thumb {
  background: rgb(180, 25, 20);
}

/* Styles for Track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgb(245, 245, 245);
  border: transparent;
  transition: background 1s ease;
}

input[type="range"].green::-webkit-slider-runnable-track {
  background: rgb(40, 200, 130);
}

input[type="range"].yellow::-webkit-slider-runnable-track {
  background: rgb(250, 180, 60);
}

input[type="range"].red::-webkit-slider-runnable-track {
  background: rgb(250, 85, 60);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgb(245, 245, 245);
}

input[type="range"].green:focus::-webkit-slider-runnable-track {
  background: rgb(40, 200, 130);
}

input[type="range"].yellow:focus::-webkit-slider-runnable-track {
  background: rgb(250, 180, 60);
}

input[type="range"].red:focus::-webkit-slider-runnable-track {
  background: rgb(250, 85, 60);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: rgb(245, 245, 245);
  border: transparent;

  transition: background 0.25s ease;
}

input[type="range"].green::-moz-range-track {
  background: rgb(40, 200, 130);
}

input[type="range"].yellow::-moz-range-track {
  background: rgb(250, 180, 60);
}

input[type="range"].red::-moz-range-track {
  background: rgb(250, 85, 60);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
  transition: background 0.25s ease;
}
input[type="range"]::-ms-fill-lower {
  background: rgb(245, 245, 245);
}

input[type="range"].green::-ms-fill-lower {
  background: rgb(40, 200, 130);
}

input[type="range"].yellow::-ms-fill-lower {
  background: rgb(250, 180, 60);
}

input[type="range"].red::-ms-fill-lower {
  background: rgb(250, 85, 60);
}

input[type="range"]:focus::-ms-fill-lower {
  background: rgb(245, 245, 245);
}

input[type="range"].green:focus::-ms-fill-lower {
  background: rgb(40, 200, 130);
}

input[type="range"].yellow:focus::-ms-fill-lower {
  background: rgb(250, 180, 60);
}

input[type="range"].red:focus::-ms-fill-lower {
  background: rgb(250, 85, 60);
}

input[type="range"]::-ms-fill-upper {
  background: rgb(245, 245, 245);
}
input[type="range"]:focus::-ms-fill-upper {
  background: rgb(245, 245, 245);
}

input[type="range"].yellow::-ms-fill-upper {
  background: rgb(250, 180, 60);
}

input[type="range"].red::-ms-fill-upper {
  background: rgb(250, 85, 60);
}

input[type="range"]:focus::-ms-fill-upper {
  background: rgb(245, 245, 245);
}

input[type="range"].green:focus::-ms-fill-upper {
  background: rgb(40, 200, 130);
}

input[type="range"].yellow:focus::-ms-fill-upper {
  background: rgb(250, 180, 60);
}

input[type="range"].red:focus::-ms-fill-upper {
  background: rgb(250, 85, 60);
}

blockquote {
  font-size: 1.4em;
  width: 75%;
  margin: 5px auto;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

.form-navigation {
  width: 100%;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.form-group.radio-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.radio-buttons label.radio-button-label {
  font-family: "Proza Libre", sans-serif !important;
  font-size: 1.5em;
  min-width: 100px;
  cursor: pointer;
  padding: 15px 0;
  text-align: center;
  background-color: rgb(245, 245, 245);
  margin: 5% 7.5% 0;
  max-width: 150px;
  transition: background 0.5s ease;
}
.radio-buttons .radio-button-label.green:hover {
  background: rgb(40, 200, 130);
}

.radio-buttons input[type="radio"]:checked + label.green {
  background: rgb(40, 200, 130);
}

.radio-buttons .radio-button-label.red:hover {
  background: rgb(250, 85, 60);
}

.radio-buttons input[type="radio"]:checked + label.red {
  background: rgb(250, 85, 60);
}

.form-group.radio-buttons-list {
  display: block;
}

.form-group.radio-buttons-list {
  display: block;
}

.radio-buttons-list label {
  font-family: "Proza Libre", sans-serif;
  font-size: 1em;
  padding: 20px 0 20px 10px;
  margin: 0;
  border-bottom: 1px solid rgb(240, 240, 240);
  transition: background 0.1s ease-out;
  cursor: pointer;
}

.radio-buttons-list input[type="radio"]:checked + label {
  background: rgb(40, 200, 130);
}

.radio-buttons-list label:last-child {
  border-bottom: none;
}

.radio-buttons-list label:hover {
  background: rgb(40, 200, 130);
}
.radio-buttons-list label h4,
.radio-buttons-list label p {
  display: inline-block;
  margin: 0;
}

.radio-buttons-list label p {
  margin-left: 10px;
}

/* .form-group:last-child {
  margin: 0;
} */

.form-navigation button {
  vertical-align: top;
}

#button-back {
  position: absolute;
  top: 45%;
  left: 29%;
  font-size: 2em;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

#button-next {
  position: absolute;
  top: 45.5%;
  right: 6%;
  font-size: 2em;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.distressEvents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.distressEvents blockquote {
  font-size: 1em;
  width: 100%;
  margin: 5px auto;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  color: #555555;
  box-sizing: border-box;
  padding: 0.8em 20px 0.8em 45px;
  border-left: 4px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

.distressEvents blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: #78c0a8;
  font-size: 2.5em;
  position: absolute;
  left: 10px;
  top: 0px;
}

.distressEvent {
  width: 30%;
}

/* Utill */
.floatRight {
  float: right;
}

.FloatLeft {
  float: left;
}

strong {
  display: inline;
  font-weight: bolder;
}
